.container
{
    display: flex;  
    flex-wrap: wrap;
    flex-direction: row;
    background-color:  #f5f5f5;
    padding: 20px;
    margin: 0px;
}

.para
{
    border: 1px solid black;
    width: 100%;
    background-color: white;
    padding: 10px;
    margin: 10px;
}

.side
{
    text-align: right;
    font-style: italic;
}